<a href="https://colab.research.google.com/github/pachterlab/Bi-BE-CS-183-2022/blob/main/HW1/Problem3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#To run a code cell, select the cell and hit Command/Ctrl+Enter or click the run/play symbol
#Click Insert --> Code Cell or the '+ Code' option to insert a new code cell

In [ ]:
#Click Insert --> Text Cell or the '+ Text' option to insert a cell for text as below

Text here for descriptions, explanations, etc

##**Import data and install packages**

In [1]:
import numpy as np
import scipy.io as sio
import pandas as pd
import matplotlib.pyplot as plt #Can use other plotting packages like seaborn

In [2]:
# ! allows you to run commands in the command line, as you would in your normal terminal/command line interface

In [3]:
#Download count matrix of cell by gene counts
#Cells are 10x sequenced neurons from the mouse hypothalamus (Kim et al. 2019)

!wget --content-disposition https://data.caltech.edu/tindfiles/serve/c5db82c2-4052-439e-a3f1-38acd89f469e/

--2021-12-08 23:01:00--  https://data.caltech.edu/tindfiles/serve/c5db82c2-4052-439e-a3f1-38acd89f469e/
Resolving data.caltech.edu (data.caltech.edu)... 34.252.192.177, 34.251.243.51, 34.250.186.131
Connecting to data.caltech.edu (data.caltech.edu)|34.252.192.177|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: https://tind-caltechdata.s3.amazonaws.com:443/d05a9752c6084408b1d91671edb446a2?Signature=1Z66Y2Rwiz4W87jeq3%2Bp3ncx8wc%3D&Expires=1639004761&AWSAccessKeyId=AKIAJSK7IFF5HDDM5UBQ&response-content-type=application/force-download&response-content-disposition=attachment%3Bfilename%3D%22tenx_sub.mtx.gz%22 [following]
--2021-12-08 23:01:01--  https://tind-caltechdata.s3.amazonaws.com/d05a9752c6084408b1d91671edb446a2?Signature=1Z66Y2Rwiz4W87jeq3%2Bp3ncx8wc%3D&Expires=1639004761&AWSAccessKeyId=AKIAJSK7IFF5HDDM5UBQ&response-content-type=application/force-download&response-content-disposition=attachment%3Bfilename%3D%22tenx_sub.mtx.gz%22
Resolving tind-caltechdata.s3.amazonaws.com (tind-caltechdata.s3.amazonaws.com)... 52.218.121.81
Connecting to tind-caltechdata.s3.amazonaws.com (tind-caltechdata.s3.amazonaws.com)|52.218.121.81|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 30671193 (29M) [application/force-download]
Saving to: ‘tenx_sub.mtx.gz’

tenx_sub.mtx.gz     100%[===================>]  29.25M  6.76MB/s    in 4.3s

2021-12-08 23:01:07 (6.76 MB/s) - ‘tenx_sub.mtx.gz’ saved [30671193/30671193]

In [2]:
#Download csv of metadata for cells (cell type classification, sex of mouse) 

!wget --content-disposition https://data.caltech.edu/tindfiles/serve/11e5d726-f921-4bc9-9c13-d0d8712c185d/

--2021-12-08 22:59:44--  https://data.caltech.edu/tindfiles/serve/11e5d726-f921-4bc9-9c13-d0d8712c185d/
Resolving data.caltech.edu (data.caltech.edu)... 34.252.192.177, 34.251.243.51, 34.250.186.131
Connecting to data.caltech.edu (data.caltech.edu)|34.252.192.177|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: https://tind-caltechdata.s3.amazonaws.com:443/3a24d928727e4355ac0d8f58d1ec1fd6?Signature=oGsoPszNzIacu5H156I%2BHZ4PyjQ%3D&Expires=1639004685&AWSAccessKeyId=AKIAJSK7IFF5HDDM5UBQ&response-content-type=application/force-download&response-content-disposition=attachment%3Bfilename%3D%22tenx_obs_sub.csv.gz%22 [following]
--2021-12-08 22:59:46--  https://tind-caltechdata.s3.amazonaws.com/3a24d928727e4355ac0d8f58d1ec1fd6?Signature=oGsoPszNzIacu5H156I%2BHZ4PyjQ%3D&Expires=1639004685&AWSAccessKeyId=AKIAJSK7IFF5HDDM5UBQ&response-content-type=application/force-download&response-content-disposition=attachment%3Bfilename%3D%22tenx_obs_sub.csv.gz%22
Resolving tind-caltechdata.s3.amazonaws.com (tind-caltechdata.s3.amazonaws.com)... 52.218.92.138
Connecting to tind-caltechdata.s3.amazonaws.com (tind-caltechdata.s3.amazonaws.com)|52.218.92.138|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 75077 (73K) [application/force-download]
Saving to: ‘tenx_obs_sub.csv.gz’

tenx_obs_sub.csv.gz 100%[===================>]  73.32K   145KB/s    in 0.5s

2021-12-08 22:59:47 (145 KB/s) - ‘tenx_obs_sub.csv.gz’ saved [75077/75077]

In [4]:
#Download csv of metadata for genes (gene names)

!wget --content-disposition https://data.caltech.edu/tindfiles/serve/0582f31f-b700-4a9b-8f6d-790a79abc74c/

--2021-12-08 23:01:12--  https://data.caltech.edu/tindfiles/serve/0582f31f-b700-4a9b-8f6d-790a79abc74c/
Resolving data.caltech.edu (data.caltech.edu)... 34.251.243.51, 34.252.192.177, 34.250.186.131
Connecting to data.caltech.edu (data.caltech.edu)|34.251.243.51|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: https://tind-caltechdata.s3.amazonaws.com:443/8eb77ef038e3427582851162df61e760?Signature=VbiRkrIKNQvVkm2gaAXMaeDzp3I%3D&Expires=1639004773&AWSAccessKeyId=AKIAJSK7IFF5HDDM5UBQ&response-content-type=application/force-download&response-content-disposition=attachment%3Bfilename%3D%22var%20%281%29.csv.gz%22 [following]
--2021-12-08 23:01:14--  https://tind-caltechdata.s3.amazonaws.com/8eb77ef038e3427582851162df61e760?Signature=VbiRkrIKNQvVkm2gaAXMaeDzp3I%3D&Expires=1639004773&AWSAccessKeyId=AKIAJSK7IFF5HDDM5UBQ&response-content-type=application/force-download&response-content-disposition=attachment%3Bfilename%3D%22var%20%281%29.csv.gz%22
Resolving tind-caltechdata.s3.amazonaws.com (tind-caltechdata.s3.amazonaws.com)... 52.218.53.241
Connecting to tind-caltechdata.s3.amazonaws.com (tind-caltechdata.s3.amazonaws.com)|52.218.53.241|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13141 (13K) [application/force-download]
Saving to: ‘var (1).csv.gz’

var (1).csv.gz      100%[===================>]  12.83K  --.-KB/s    in 0.1s

2021-12-08 23:01:15 (127 KB/s) - ‘var (1).csv.gz’ saved [13141/13141]

In [5]:
#Gunzip the files we downloaded
!gunzip *.gz

## **Read in data for analysis**

**The dataset**

This dataset is taken from [Kim et al. 2019](https://www.sciencedirect.com/science/article/pii/S0092867419310712). The goal of this study was to discern the various neuronal cell types present in the mouse ventromedial hypothalamus (VMH), a region whose neurons control/influence social behaviors e.g. mounting and aggression. 

This dataset comprises neurons from *male and female* mice in different behavioral states, covering *30 distinct neuron populations or cell types*.

Here we are analyzing only the 10x sequenced samples.

<img src="https://ars.els-cdn.com/content/image/1-s2.0-S0092867419310712-fx1_lrg.jpg" alt="AbstractFigure" width="500" height="500">

**The Count matrix**

This matrix is 11,591 cells by 1,999 genes. The full dataset contains 41,580 cells, however we will work with a subsetted version to facilitate calculations within the Colab environment.

1.   For each cell, gene counts were normalized to have the same number of total counts (usually 1e5 or 1e6), with cell-gene counts thus scaled accordingly.

2.   Counts were then log-normalized, using the log(1+x), where x is each cell's gene count. The 1 accounts for 0 count genes. 

3. The ~2000 genes were selected for those that displayed large variance in expression amongst the cells ('highly variable genes').

In [6]:
#Get gene count matrix
count_mat = sio.mmread('tenx_sub.mtx')
count_mat.shape

(11591, 1999)

In [7]:
#Get metadata dataframe for the 11,591 cells (rows of the matrix)
meta = pd.read_csv('tenx_obs_sub.csv',index_col = 0)
meta.head()

                      cell_type sex_label
cell_barcode
4_AAACCTGCACAGTCGC  Tsix_Esr1_1         F
4_AAACCTGCATACTCTT  Tsix_Esr1_1         F
4_AAACCTGGTCCGTTAA         Scgn         F
4_AAACCTGGTTACGGAG       Esr1_1         F
4_AAACCTGTCAATCACG  Tsix_Esr1_1         F

In [8]:
#Get metadata dataframe for the 1,999 genes (columns of the matrix)

meta_gene = pd.read_csv('var (1).csv',index_col = 0)
meta_gene.head()

                   gene_name
Gm1992                Gm1992
Lypla1                Lypla1
Npbwr1                Npbwr1
Sntg1                  Sntg1
1700034P13Rik  1700034P13Rik

In [9]:
#Access the list in each column by meta['name_of_col']
cell_types = meta['cell_type']
cell_types[0:5]

cell_barcode
4_AAACCTGCACAGTCGC    Tsix_Esr1_1
4_AAACCTGCATACTCTT    Tsix_Esr1_1
4_AAACCTGGTCCGTTAA           Scgn
4_AAACCTGGTTACGGAG         Esr1_1
4_AAACCTGTCAATCACG    Tsix_Esr1_1
Name: cell_type, dtype: object

In [10]:
#See all the cell type categories
np.unique(meta['cell_type']) #Cell populations are marked by the genes they express (as comparec to other cell populations)

array(['Dlk1_1', 'Esr1_1', 'Nr5a1_1', 'Nr5a1_Foxp2_1', 'Nup62cl',
       'Satb2_1', 'Scgn', 'Tsix_Esr1_1'], dtype=object)

In [116]:
#Filter the count matrix for a particular cell type (across all genes)

#Remember! Cells are ROWS and Genes are COLUMNS

indices = meta['cell_type'].isin(['Tsix_Esr1_1']) #Get indices for where the cell_type is Dlk1_1 only

count_sub = count_mat[indices,:] #Filter rows (cells) of matrix
count_sub.shape

(1659, 1999)

In [12]:
#The sexes
np.unique(meta['sex_label'])

array(['F', 'M'], dtype=object)

## **Problem 3 (18 points)** 
Find an example of Simpson's reversal.

Generally Simpson's reversal describes how a trend may appear in several groups of data, but not exist or be reversed when groups are combined.

Here we will focus on trends of correlation, where two variables (genes) appear correlated in one direction (e.g. **positively**) given one set of groupings, but display **no or negative** correlation in another set of groupings.

For the purposes of this homework, we will be using the common Pearson correlation coefficient to measure correlation between variables.

This can be calculated using numpy's corrcoef() function in python, where correlation values are between -1 and 1.

In [95]:
#Use np.corrcoef()

#Given two lists/vectors of values x and y, np.corrcoef(x,y) will return a 
#pairwise correlation matrix where the diagonal represent correlation between
#x with x or y with y, (which are 1) and the off-diagonals which both represent  
#correlation of x with y. 

#The off-diagonal value is the value we are interested in

x = [1.0,2.0,3.0,4.0]
y = [4.0,5.0,2.0,6.0]

corrs = np.corrcoef(x,y)
print('Correlation matrix: \n', corrs)

print('Corr in first row, second column: ', corrs[0,1])

Correlation and p-value:
 (0.22677868380553634, 0.7732213161944637)
Correlation only:  0.22677868380553634

**Problem:** Find two genes which display a Simpson's reversal in their correlations depending on how they are grouped. We are calculating correlation between the genes' expression vectors i.e. their values across cells.

Examples of grouping comparison include, but are not limited to:


*   Correlation of two genes within one cell type versus their correlation across all cells (no cell type grouping)
*   Correlation of two genes within one cell type versus their correlations within each sex within the same cell type
*   Correlation of two genes in each sex versus across all cells (no sex grouping)


*Try to report the most extreme difference in correlation you can find*

Show:

a.   All code for subsetting the count matrix and calculating correlation values for a pair of genes. (6 points)

Code can be added to code cells below. Feel free to add more code cells if necessary.

In [120]:
# ------- Example code for finding gene-pair correlations within a cell type versus across all cells -----------

gene1 = 'Lypla1' #Lysophospholipase (a hydrolase)
gene2 = 'H2-K1'  #Histocompatibility antigen, Involved in presentation of antigens to immune system

indices = meta['cell_type'].isin(['Tsix_Esr1_1']) #Get indices for where the cell_type is Dlk1_2 only

g1_indices = meta_gene['gene_name'].tolist().index(gene1) #Get exact index for where gene names are gene1 only
g2_indices = meta_gene['gene_name'].tolist().index(gene2)

#Correlation of counts within cell type
count_sub_g1 = count_mat[indices,g1_indices] #Filter rows (cells) of matrix
count_sub_g2 = count_mat[indices,g2_indices]

corrs = np.corrcoef(count_sub_g1,count_sub_g2)
print('Correlation within type: ', corrs[0,1])

#Correlation of counts within cell type
count_sub_g1 = count_mat[:,g1_indices] #Filter rows (cells) of matrix Sntg1
count_sub_g2 = count_mat[:,g2_indices]

corrs = np.corrcoef(count_sub_g1,count_sub_g2)
print('Correlation across all cells: ',corrs[0,1])

#We see slight positive correlation within the Tsix_Esr1 cell type but almost no correlation across all cells

Correlation within type:  0.35349248871444433
Correlation across all cells:  0.029026343554515218

In [119]:
# ------- Your code below -------

Report: 

b.   What the comparison groupings are (e.g. within one cell type versus across all cells) (3 points)

c.   Which two genes you are looking at (3 points)

d.   What the gene-gene correlations are in each grouping (3 points)

e.   Qualitatively comment on how significant or relevant you think these correlation differences are, given the groupings you chose and the correlation values. (3 points)

*Answers b-e can be added directly to this text box*