<a href="https://colab.research.google.com/github/pachterlab/Bi-BE-CS-183-2022/blob/main/HW7/Problem3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bi/Be/Cs 183 2021-2022: Intro to Computational Biology
TAs: Meichen Fang, Tara Chari, Zitong (Jerry) Wang

**Submit your notebooks by sharing a clickable link with Viewer access. Link must be accessible from submitted assignment document.**

Make sure Runtime $\rightarrow$ Restart and run all works without error

**HW 7 Problem 3**

In this problem you will be using various tests to look for differential expression between cells in different cell types. This will involve comparing means between different cell populations across genes, determining gene candidates with 'significant' differences in expression, and gauging how accurate or trustworthy such results are.

##**Import data and install packages**

In [ ]:
import numpy as np
import scipy.io as sio
import pandas as pd
import matplotlib.pyplot as plt #Can use other plotting packages like seaborn

In [ ]:
#Download count matrix of cell by gene counts and metadata files, DOI: 10.22002/D1.20031

!wget --content-disposition https://data.caltech.edu/tindfiles/serve/9389176f-ad42-4a31-bb6b-dd846c21e2df/

!tar -xvf exutero.tar.gz

--2022-02-09 21:59:56--  https://data.caltech.edu/tindfiles/serve/9389176f-ad42-4a31-bb6b-dd846c21e2df/
Resolving data.caltech.edu (data.caltech.edu)... 34.251.243.51, 34.252.192.177, 34.250.186.131
Connecting to data.caltech.edu (data.caltech.edu)|34.251.243.51|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: https://tind-caltechdata.s3.amazonaws.com:443/5664db3e07c54cdcae124be6413bca7d?Signature=8hSqRjJxg0C1J%2BbG7nrJws4uv1M%3D&Expires=1644444296&AWSAccessKeyId=AKIAJSK7IFF5HDDM5UBQ&response-content-type=application/force-download&response-content-disposition=attachment%3Bfilename%3D%22exutero.tar.gz%22 [following]
--2022-02-09 21:59:56--  https://tind-caltechdata.s3.amazonaws.com/5664db3e07c54cdcae124be6413bca7d?Signature=8hSqRjJxg0C1J%2BbG7nrJws4uv1M%3D&Expires=1644444296&AWSAccessKeyId=AKIAJSK7IFF5HDDM5UBQ&response-content-type=application/force-download&response-content-disposition=attachment%3Bfilename%3D%22exutero.tar.gz%22
Resolving tind-caltechdata.s3.amazonaws.com (tind-caltechdata.s3.amazonaws.com)... 52.218.84.25
Connecting to tind-caltechdata.s3.amazonaws.com (tind-caltechdata.s3.amazonaws.com)|52.218.84.25|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6776774 (6.5M) [application/force-download]
Saving to: ‘exutero.tar.gz’

exutero.tar.gz      100%[===================>]   6.46M  7.67MB/s    in 0.8s

2022-02-09 21:59:58 (7.67 MB/s) - ‘exutero.tar.gz’ saved [6776774/6776774]

._cell_metadata.csv
cell_metadata.csv
._gene_metadata.csv
gene_metadata.csv
._exutero.mtx
exutero.mtx

## **Read in data for analysis**

**The dataset**

Much of mammalian embryo development occurs after the embryo implants in the uterus, however this makes the embryo relatively inaccessible and thus hard to study. In [Aguilera-Castrejon et al., 2021](https://www.nature.com/articles/s41586-021-03416-3#Sec7), a cell culture platform was established to culture post-implantation embryos ex utero (outside the uterus) from pre-gastrulation until himdlimb formation (organogenesis).  Single-cell sequencing was done for both in utero and ex utero cultured mouse embryos, to compare development of the externally cultured cells.

<center><img src="https://drive.google.com/uc?export=view&id=1b6BM_W5Nk2r31RdGE7-bKDuObQq279qh" alt="EMFigure" width="800" height="350"><center>

**The count matrix**

This matrix is 6,205 cells by 2,000 genes. We are only working with the ex-utero cultured mouse embryo cells here.

1.   For each cell, gene counts were normalized to have the same number of total counts (usually 1e5 or 1e6), with cell-gene counts thus scaled accordingly.

2.   Counts were then log-normalized, using the log(1+x), where x is each cell's gene count. The 1 accounts for 0 count genes. 

3. The top ~2000 genes were selected for those that displayed large variance in expression amongst the cells ('highly variable genes').

In [ ]:
#Get gene count matrix
count_mat = sio.mmread('exutero.mtx')

count_mat.shape

(6205, 2000)

In [ ]:
#Get metadata dataframe for the 6,205 cells (rows of the matrix)
meta = pd.read_csv('cell_metadata.csv',index_col = 0)
meta.head()

                              cell_type
AAACCCAAGTACAACA-3       Mixed Mesoderm
AAACCCAGTACACTCA-3                Blood
AAACCCATCGAAGCAG-3          Neural Tube
AAACGAAAGGAAACGA-3       Mixed Mesoderm
AAACGAACACATGGTT-3  Pharyngeal Mesoderm

In [ ]:
#Get metadata dataframe for the 2,000 genes (columns of the matrix)

meta_gene = pd.read_csv('gene_metadata.csv',index_col = 0)
meta_gene.head()

  gene_name
0     Sox17
1    Lypla1
2      Sgk3
3      Xkr9
4      Bag2

## **Problem 3 (40 points)**

### **a) Calculate the $t$ statistic (for two-samples with unequal sizes) for each gene, between cell types 'Cardiac' and 'Neural Tube'. Subset the count matrix for *only genes that have nonzero variances* in both the 'Cardiac' or 'Neural Tube' cell types. (This will avoid nan outputs) (10 points)**
**We will be working only with the subsetted genes for the rest of Problem 3. You do not need to exponentiate the counts for filtering as we are now using the variance-stabilized version of the counts.*

Given two cell types (1 and 2), we will denote all expression values of gene $g$ in cell type 1 as $X^g_1$, and likewise $X^g_2$ for cell type 2.

We will calculate a two-sample $t^g$ statistic between cell types 1 and 2 for gene $g$:

\begin{align}
{\displaystyle t^g={\frac {{\bar {X}}^g_{1}-{\bar {X}}^g_{2}}{s^g_{p}\cdot {\sqrt {{\frac {1}{n_{1}}}+{\frac {1}{n_{2}}}}}}}}
\end{align} where
\begin{align}
{\displaystyle s^g_{p}={\sqrt {\frac {\left(n_{1}-1\right)s_{X^g_{1}}^{2}+\left(n_{2}-1\right)s_{X^g_{2}}^{2}}{n_{1}+n_{2}-2}}}}
\end{align} and is comprised of the standard deviations $s$ of $X^g_1$ and $X^g_2$, and the sizes of cell types 1 and 2 ($n_1 , n_2$). $\bar{X}^g_1$ denotes the average expression for gene $g$ in cell type 1.

**Calculate $t$ values for all genes (after subsetting). Report (1) how many genes remain after subsetting and (2) the $t$ values for the genes Sox17, Lypla1, Sgk3, Bag2.**

### **b) Given the $t$ values in a), find their corresponding *p*-values based on the Student's $t$ distribution. (5 points)**

**To obtain *p*-values:** 

You are calculating the likelihood (or how unlikely) your $t$ value is given the $t$-distribution (i.e. assuming the groups come from the same population). For this you can use the cdf feature from the [scipy stats t distribution](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.t.html).


Remember that the CDF calculates the probability of seeing a value less than or equal to your $t$ (or abs($t$)). Thus you will need 1 minus the CDF value to find the likelihood of being more extreme. Likewise, since we are interested in whether the two means are different (meaning smaller *or* greater than the other), we will need a two-tailed test i.e. how likely it is to have a more extreme $t$ in both directions  or **2*(1-CDF)**.

For the degrees of freedom of the $t$-statistic note that since $n_i − 1$ is the number of degrees of freedom for each group, the degrees of freedom for the total sample is $n_1 + n_2 − 2$.

**Report the $p$-values for the same genes Sox17, Lypla1, Sgk3, Bag2.**

### **c) Use the Bonferroni correction method to correct the $p$-values for multiple testing. (5 points)**

Since you have calculated $t$-tests for every gene $g$, you will need to correct your $p$-values to adjust for the likelihood of a positive/significant result just by virtue of the number of tests you've done. We can either adjust the $p$-values themselves, or adjust our significance cutoff.

Here we will use a significance/$p$-value cutoff of $\alpha=$0.05 (5%), where $p \le \alpha$ when $\bar{X}^g_1 = \bar{X}^g_2$ (the null $H_0$) is rejected. 

The Bonferroni correction adjusts this to $\alpha/n$ where $n$ is the number of comparisons/tests made.

**Report the corrected $\alpha$ cutoff and how many genes' $p$-values were below the cutoff *(1) before* and *(2) after* the Bonferroni correction.**

### **d) Make a volcano plot for all genes (one plot total). A volcano plot has the $p$-values on the y axis and log2(FC) (FC is fold change) on the x axis. (5 points)**

Fold change will be the **ratio of the average gene expression in one cell type to the other**. In this case do 'Cardiac'/'Neural Tube' expression.

You can also plot -log10($p$-value) for the y-axis instead of the raw $p$-values (which may be very small). After this transformation, larger $p$-values are more significant.

### **e) Use the Mann-Whitney (non-parametric) $U$-test to find $p$-values for genes with significantly different expression between the two cell types. Report the percent of significant genes from this test that overlap with those from the $t$-test in c) (both after Bonferroni correction). (5 points)**

The Mann-Whitney $U$ test is a non-parametric test, which uses the $U$ statistic (as opposed to the $t$ statistic) to essentially count how many pairs of observations between $X^g_1$ and $X^g_2$ have one value greater than, equal to, and less than the other. This tests for whether the probability that a value from $X^g_1$ exceeds a value in $X^g_2$ is the same as the probability that a value from $X^g_2$ exceeds a value in $X_1$ i.e. $H_0: P(X^g_1 > X^g_2) = P(X^g_2 > X^g_1)$ and $H_1: P(X^g_1 > X^g_2) ≠ P(X^g_2 > X^g_1)$. Under the null hypothesis, the distribution of U is normal. 

You can use the scipy package directly for this test, [scipy Mann-Whitney U](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.mannwhitneyu.html), which will calculate both the $U$ value and $p$-value for the two sets of observations you input.

### **f) Make a volcano plot for your results in e) ($U$ test, comparison between cell types 'Cardiac' and 'Neural Tube'). Select a gene you believe has a significant $p$-value and substantial fold change (FC). Report the (1) $p$-value and log2FC for the gene, (2) color this gene on your volcano plot, and (3) briefly describe the function of this gene.  (5 points)**

### **g) As a negative control, randomly sample two groups of cells from cell type 'Cardiac' (each group the size of half of cell type 'Cardiac'). Perform a $t$-test as in a-b on all genes, treating the two groups as two cell types. Report the minimum $p$-value you obtain from this testing. (5 points)**
**Re-run the subsetting in a) to remove genes with zero variance in either of the two cell groups (from the set of already subsetted genes).*